body {
  margin: 0;
  padding: 0;
  background-color: #ad8a8a;
}

nav {
  background-color: #cdbdbd;
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  opacity: 100;
}

.container a:active {
  color: white;
}
.container li {
  list-style: none;
  display: inline-table;
  margin-right: 30px;
  font-weight: bold;
}

.container a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.asset-home {
  margin-top: 250px;
  margin-left: 50px;
  width: 708px;
  height: 473px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #cdbdbd;
  position: relative;
}

.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -302px;
}

.first {
  float: right;
  margin-top: -400px;
  margin-right: 200px;
}

.sec {
  float: right;
  margin-top: -350px;
  margin-right: 200px;
}

.first {
  margin-right: 50px;
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 4px;
}

.sec {
  margin-top: -340px;
  margin-right: 500px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 4px;
}

.third {
  position: absolute;
  margin-top: -300px;
  margin-left: 790px;
}

span {
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
.text-home p {
  font-size: 50px;
  font-weight: bold;
  color: burlywood;
  font-family: "Bebas Neue", sans-serif;
}

.button-home {
  width: 170px;
  height: 60px;
  position: absolute;
  margin-top: -230px;
  margin-left: 800px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: #3498db;
  border-style: groove;
  color: #3498db;
  background-color: #ffffff;
  cursor: pointer;
}

.button-home:hover {
  background-color: #3498db;
  color: #ffffff;
  border-color: #ffffff;
}

.about-me {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 180px;
  font-family: "Inter", sans-serif;
}

.about-me-sec {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 207px;
  font-family: "Inter", sans-serif;
}

.about-me-third {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 236px;
  font-family: "Inter", sans-serif;
}

.about-me-fourth {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 263px;
  font-family: "Inter", sans-serif;
}

.about-me-fifth {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 288px;
  font-family: "Inter", sans-serif;
}

.about-me-six {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 314px;
  font-family: "Inter", sans-serif;
}

.about-me-seven {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 337px;
  font-family: "Inter", sans-serif;
}

.box-about {
  width: 1300px;
  height: 600px;
  border-radius: 30px;
  background-color: #cdbdbd;
  margin-top: 300px;
  margin-left: 95px;
}

.about-title {
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 80px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.edu {
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  margin-left: 35px;
  margin-top: 390px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.circle {
  position: absolute;
  background-color: white;
  width: 15px;
  height: 15px;
  z-index: 1000;
  margin-top: 470px;
  margin-left: 56px;
  border-radius: 20000px;
}

.circle2 {
  position: absolute;
  background-color: white;
  z-index: 10;
  width: 15px;
  height: 15px;
  z-index: 1000;
  margin-top: 530px;
  margin-left: 56px;
  border-radius: 20000px;
}

.img-about {
  position: absolute;
  width: 408px;
  height: 612px;
  flex-shrink: 0;
  margin-top: -12px;
  margin-left: 850px;
}

.garis-about {
  position: absolute;
  background-color: black;
  width: 5px;
  height: 120px;
  z-index: 100;
  margin-top: 450px;
  margin-left: 61px;
  border-radius: 20000px;
}

.sma {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin-top: 430px;
  margin-left: 80px;
  font-family: "Inter", sans-serif;
}

.kuliah {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin-top: 500px;
  margin-left: 80px;
  font-family: "Inter", sans-serif;
}
.wilayah-s {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin-top: 470px;
  margin-left: 80px;
  font-family: "Work Sans", sans-serif;
}
.wilayah-k {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin-top: 540px;
  margin-left: 80px;
  font-family: "Work Sans", sans-serif;
}

.my {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 100px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.hb {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  margin-left: 1250px;
  margin-top: 100px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.s {
  position: absolute;
  font-weight: bold;
  margin-left: 450px;
  margin-top: 455px;
  font-weight: bold;
  color: black;
}

.h {
  position: absolute;
  font-weight: bold;
  margin-left: 700px;
  margin-top: 455px;
  font-weight: bold;
  color: black;
}

.contact {
  position: absolute;
  margin-top: 1000px;
  margin-left: 100px;
}

/* Styles for the pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup-content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  text-align: center;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.skill {
  margin: 20px;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 60px;
  margin-top: -130px;
  margin-left: 550px;
}

.hobby {
  margin: 20px;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  margin-top: -250px;
  margin-left: 850px;
  width: 200px;
  height: 60px;
}

.contact-title {
  margin-left: 100px;
  font-weight: bold;
  font-family: "Mukta", sans-serif;
}

.ig {
  position: absolute;
  margin-bottom: 50px;
  margin-top: -25px;
  margin-left: 150px;
  font-family: "Mukta", sans-serif;
}

.link-ig {
  position: absolute;
  margin-top: 25px;
  color: black;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  margin-left: -15px;
}

.fa-regular {
  margin-top: 80px;
  position: absolute;
}
